// Colors
$green: #7dce94;
$darkGrey: #3d3d3f;
$lightGrey: #f6f5f3;
$whiteIsh: #f9f8fd;
$clouds: #ecf0f1;
$transparent: rgba(0, 0, 0, 0);

// Extentions
%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%section {
  padding-top: 2rem;
}

%section-header-text {
  font-size: 2.5em;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.25em;
  border-bottom: 3px solid $green;
}



#root {
  height: 100%;
}

.app {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

// Nav Bar
nav {
  @extend %flex-row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transition: 0.5s;

  padding: 1.5rem;
  z-index: 10000;
}

.navHeaderWrapper { // hamburger
  div {
    display: none;
  }
}

.navTop {
  background-color: $transparent;
  font-size: 1.5rem;
}

.navBottom {
  background-color: white;
  font-size: 1.3rem;
}

.navLink {
  margin: .9rem;
  padding: .1rem;
  z-index: 100;

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid $green;
  }
}

// Particles JS
.particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  canvas {
    z-index: 0;
  }
}

// Home Section
.homeSection {
  @extend %flex-column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  background-color: $lightGrey;
  padding-left: 3rem;
  z-index: 1;
}

.homeSectionText {
  @extend %flex-column;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  z-index: 1;
}

// About Section
// https://kilianvalkhof.com/2017/design/sloped-edges-with-consistent-angle-in-css/
.aboutSection {
  @extend %flex-column;
  @extend %section;
  // height: 100%;
  // min-height: 650px;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  // background-color: $lightGrey;
  // clip-path: polygon(
  //   0 4vw,
  //   100% 0,
  //   100% 100%,
  //   0 100%
  // );
}

.aboutHeaderText {
  @extend %section-header-text;
}

.aboutBody {
  padding: 0 3rem;
  @extend %flex-row;
  justify-content: center;
}

.aboutText {
  padding: 0 3rem;
}

.aboutPhoto img {
  width: 400px;
}


// Experience Section
.experienceSection {
  @extend %section;
  background-color: $lightGrey;
}

.experienceHeader {
  display: flex;
  justify-content: center;
}

.experienceHeaderText {
  @extend %section-header-text;
}

.vertical-timeline-element-icon {
  border-radius: 0 !important;
  background-color: $lightGrey !important;

  svg {
    width: 40px !important;
    height: 40px !important;
    margin-left: -20px !important;
    margin-top: -20px !important;
  }
}

.vertical-timeline-element-content {
  box-shadow: none !important;
}

.vertical-timeline {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.vertical-timeline::before {
  // background-color: grey !important;
}


// Portfolio Section
.portfolioSection {
  @extend %flex-column;
  @extend %section;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.portfolioHeaderText {
  @extend %section-header-text;
}

.portfolioBody {
  @extend %flex-column;
  width: 100%;
}

.portfolioRow {
  @extend %flex-row;
  justify-content: center;
  width: 100%;
  padding-bottom: 3rem;
}

.portfolioColumn {
  @extend %flex-column;
  align-items: center;
  background-color: $lightGrey;
  width: 30vw;
  height: fit-content;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.portfolioRowHeader {
  text-align: center;
  padding: 1.5rem 0;
  svg {
    height: 20vh;
  }
}

.portfolioRowBody {
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
  margin: auto;
}

// Contact Section
.contactSection {
  @extend %flex-column;
  @extend %section;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: $lightGrey;
}

.contactHeaderText {
  @extend %section-header-text;
}

.contactBody {
  width: 30%;
  form {
    @extend %flex-column;
    align-items: center;
  }
}

input[type=text], input[type=submit], textarea {
  width: 100%;
  margin: .7rem 0;
  padding: .75rem;
  // border: none;
  border: 1px solid $transparent;
  border-radius: 0;

  &:focus {
    outline: none;
    border-bottom: 1px solid $green;
    // border-left: 1px solid $green;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

input[type=submit] {
  width: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 $clouds;
  outline: none;
  background-color: white;
  &:focus {
    outline: none;
    // border-bottom: 1px solid $green;
    // border-left: 1px solid $green;
  }
  &:active {
    background-color: $clouds;
  }
}

// input[type=text]:focus, textarea:focus, input[type=submit]:focus {
//   outline: none;
//   border: 1px solid $green;
// }
//
// input[type=submit]:hover {
//   box-shadow: inset 1000px 0 0 0 $clouds;
// }

// Footer Section
.footerSection {
  @extend %flex-column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.footerSocialMedia {
  padding: .5rem;
  padding-bottom: .75rem;
  svg {
    width: 30px;
    height: 30px;
    margin: 0 .5rem;
    fill: $darkGrey;
    transition: .3s;

    &:hover {
      fill: $green;
    }
  }
}





// Tablet and Smaller
@media only screen and (max-width: 800px) {
  // Nav
  nav {
    flex-direction: column;
  }

  .navTop {
    background-color: white;
    font-size: 1.3rem;
  }

  .navHeaderWrapper {
    display: flex;
    justify-content: space-between;

    div { // hamburger
      display: block;
      cursor: pointer;
    }
  }

  .navLinksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    // hide other nav things trick
    max-height: 500px;
    opacity: 1;
    transition: 0.45s ease-out;
    overflow: visible;

    a {
      padding: .5rem 0;

      span {
        background-color: #f6f5f3;
        padding: .2rem;
      }
    }
  }

  .hideNavLinksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    // hide other nav things trick
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.45s ease-out;

    a {
      padding: .5rem 0;
    }
  }

  // About
  .aboutBody {
    // width: 70%;
    flex-direction: column;
    align-items: center;
  }

  .aboutPhoto img {
    width: 320px;
  }

  .aboutText {
    padding: 0;
  }

  // Experience
  .experienceSection {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  // Portfolio
  .portfolioBody {
    padding: 0 2rem;
    padding-bottom: 3rem;
  }

  .portfolioRow {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .portfolioColumn {
    width: 100%;
    margin: 1.5rem 0;
  }

  .portfolioRowHeader svg {
    height: 13vh;
  }
}

// Phone and Smaller
@media only screen and (max-width: 617px) {

  %section-header-text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  // Home
  .homeSection {
    padding-left: 2.5rem;
  }
  .homeSectionText {
    font-size: 2.5rem;
  }

  // About
  .aboutBody {
    width: 100%;
    padding: 0 2.5rem;
  }

  .aboutText {
    padding: 0;
  }

  //Portfolio
  .portfolioSection {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // Contact
  .contactBody {
    width: 70%;
  }

}
